<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>地板</title>
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/blog.css" rel="stylesheet">
</head>
<body>
<div class="blog-masthead">
    <div class="container-fluid">
        <div class="row" >
            <h1>Mybatis in action</h1>

            <nav class="nav blog-nav">
                <a class="nav-link active" href="/users">首页</a>
                <a class="nav-link" href="/users">其他</a>
            </nav>
        </div>
    </div><!-- /.container -->
</div>
</body>
</html>